<!DOCTYPE html>

<head>
<title> Plot coming soon </title>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.js"></script>
</head>

<body>
<h1> Actual plot coming soon </h1>
</body>

{{ script|safe }}
{{ div|safe }}

</html>