<!DOCTYPE html>

<head>
<title> Plot coming soon </title>
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.js"></script>
{{ script|safe }}
</head>

<body>
<h1> Actual plot coming soon </h1>
{{ div|safe }}
</body>

</html>